node_modules
data
log
tmp

.vscode
.DS_Store
.next

*yml
*.toml
*.log
*.sh
docker.sh
*.csv
*.jpg

config.js
ci.config.js
ci.py
api.default.js

project.private.config.json
package-lock.json

__pycache__/