node_modules
data
dist
log
tmp

.vscode
.DS_Store
.next
.cache
.temp

*.yml
*.log
*.sh
*.csv

miniprogram/utils/config.js
miniprogram/utils/ci.config.js
miniprogram/utils/api.default.js

web/app/login/api.js

project.private.config.json
package-lock.json

__pycache__/