node_modules
data
dist
log
tmp

.vscode
.DS_Store
.next
.cache
.temp

*.yml
*.toml
*.log
*.sh
*.csv
*.jpg

miniprogram/utils/config.js
miniprogram/utils/ci.config.js
miniprogram/utils/api.default.js

project.private.config.json
package-lock.json

__pycache__/