example.com {
    handle_path /proxy/* {
        reverse_proxy "https://mobilelearn.chaoxing.com" {
            header_up Host "mobilelearn.chaoxing.com"
            header_up Referer "https://mobilelearn.chaoxing.com"
            header_up Origin "https://mobilelearn.chaoxing.com"
            header_up User-Agent "Mozilla/5.0 (iPhone Mac OS X) github.com/misaka-org"
        }
    }
	reverse_proxy http://127.0.0.1:8080
}